body {
    background-image: url('progi.jpg'); /* Zmień 'tlo.jpg' na nazwę swojego obrazu */
    background-size: cover; /* Dopasowanie obrazu do ekranu */
    background-position: center; /* Wyśrodkowanie obrazu */
    background-repeat: no-repeat; /* Zapobieganie powtarzaniu */
    background-attachment: fixed; /* Stałe tło podczas przewijania */
}
