body {
	margin-left: 100px;
	margin-right: 100px;
	background-color: #FFCC80;
}

.title {
	color: #cc3300;
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.p-1 {
	font-family: verdana;
	padding-left: 30px;	
}

.links {
	font-family: verdana;
	text-align: center;
}

.h3-1 {
	font-family: Arial;
	font-weight: bold;
	color: #cc3300;
}

.text {
	font-family: verdana;
	font-size: 15px;
}

.ram-format {
	font-weight: bold;
}

a:link
{
   color:#FF5722;
   text-decoration: none;
   font-weight: bold;
}

a:visited
{
   color: #FF5722;
}

a:hover
{
   color: #FF5722;
}

a:active
{
   color: #FF5722;
}
